.group-5 {
  align-items: flex-start;
  display: flex;
  left: 277px;
  height: 355px;
  position: absolute;
  top: 15px;
}
.overlap-group1 {
  height: 355px;
  position: relative;
  width: 257px;
}
.ellipse-4 {
  background-color: var(--white);
  border-radius: 105px;
  height: 210px;
  left: -108px;
  opacity: 0.14;
  position: absolute;
  top: 117px;
  width: 210px;
}
.ellipse-5 {
  background-color: var(--white);
  border-radius: 105px;
  height: 194px;
  left: -83px;
  opacity: 0.14;
  position: absolute;
  top: 0;
  width: 200px;
}
.group-6 {
  align-items: flex-start;
  display: flex;
  min-width: 370px;
}
.overlap-group-1 {
  margin-top: 2rem;
  height: 370px;
  position: relative;
  width: 351px;
}
.rectangle-5 {
  background: linear-gradient(90deg, #6aa5e3 0%, #6866e9 100%);
  border-radius: 13px;
  margin-left: 15px;
  height: 276px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 351px;
}
.group-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 39px;
  position: absolute;
  /* top: 41px; */
  width: 219px;
}
.datastore {
  font-size: 2rem;
  color: white;
}
.text-1 {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -5px;
  margin-top: -3px;
  min-height: 55px;
  white-space: nowrap;
}
.total-profit {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -29px;
  margin-left: 2px;
  margin-top: 1px;
  min-height: 31px;
  white-space: nowrap;
}

.price-1 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-1);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -14px;
  margin-left: 2px;
  margin-top: 15px;
  min-height: 46px;
  white-space: nowrap;
}
.increased-by-30 {
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: -29px;
  margin-left: 2px;
  margin-top: 10px;
  min-height: 31px;
  white-space: nowrap;
}
@import url("https://fonts.googleapis.com/css?family-Montserrat:300,700,580,600");
@font-face {
  font-family: "IcoFont-Regular";
  font-style: 400;
  src: url("https://fonts.animaapp.com/IcoFont-Regular") format("opentype");
}
